<div class="education-container" id="education">
    <h1 class="education-h1">Education</h1>
    <mat-divider></mat-divider>
    <ul class="education-list">
        <li>
            <span class="education-school">Oregon State University</span>: <p>Bachelor of Engineering in Computer Science</p>
        </li>
        <li>
            <span class="education-school">MIT xPRO</span>: <p>Full-Stack Certificate in MERN</p>
        </li>
        <li>
            <span class="education-school">University of Toronto</span>: <p>Bachelor of Music</p>
        </li>
    </ul>
</div>