<div class="education-container" id="education">
    <h1 class="education-h1">Education</h1>
    <mat-divider></mat-divider>
    <ul class="education-list">
        <li>
            <span class="education-school">Oregon State University</span>: Bachelor of Engineering in Computer Science
        </li>
        <li>
            <span class="education-school">MIT xPRO</span>: Full-Stack Certificate in MERN
        </li>
        <li>
            <span class="education-school">University of Toronto</span>: Bachelor of Music
        </li>
    </ul>
</div>