app-splash {
    width: 80%;
    height: 100%;
    min-height: 100%;
}

app-projects {
    width: 80%;
    max-width: 1000px;
}

app-contact {
    width: 80%;
    height: 100%;
    min-height: 100%;
}

app-education {
    width: 80%;
    height: 100%;
    min-height: 100%;
}

.home {
    &-container {
        margin: 0;
        padding: 0;
        display: flex;
        padding-top: 60px;
        height: 100%;
        color: #fff;
    }

    &-rightside,
    &-leftside {
        display: flex;
        flex-direction: column;
        min-height: calc(100% - 90px);
        width: 50px;
        min-width: 50px;
        padding: 5px;
        position: fixed;
    }

    &-rightside {
        justify-content: flex-end;
    }

    &-rightside .svg-icon {
        margin-top: 30px;
    }

    &-rightside {
        right: 0;
    }

    &-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-grow: 1;
        align-items: center;
    }
}

@media only screen and (max-width: 750px) {
    .home {

        &-rightside,
        &-leftside {
            width: 35px;
            min-width: 35px;
        }
    }
}