<div class="home-container">
    <div class="home-leftside"></div>
    <div class="home-content">
        <app-splash></app-splash>
        <app-projects></app-projects>
    </div>
    <div class="home-rightside">
        <a href="mailto:hello@nickbernal.com" target="_blank" class="svg-icon mail"></a>
        <a href="https://github.com/njbernal" target="_blank" class="svg-icon github"></a>
        <a href="https://www.linkedin.com/in/nickjbernal/" target="_blank" class="svg-icon linkedin"></a>
    </div>
</div>