@import "../../vars";

.mat-toolbar {
    background-color: $background_op;
    color: white;
    position: fixed;
    height: 60px;
    position: fixed;
    z-index: 10;
    font-weight: 200;
}

.mat-button {
    color: white;
    font-weight: 200;
}

.spacer {
    flex: 1 1 auto;
}