<!-- Icons are from https://angularicons.com/ -->
<div class="projects-container">
    <h1 class="projects-h1">Current projects</h1>
    <mat-divider variant="string"></mat-divider>
    <ng-container *ngFor="let project of projects; let i = index;">
        <div [ngClass]="project.position">
            <div class="project-image-container">
                <img class="project-image" [src]="project.image" />
            </div>
            <div class="project-info">
                <h3 class="project-h3">Featured Project</h3>
                <h2 class="project-h2">{{project.title}}</h2>

                <div class="project-description">
                    {{project.description}}
                </div>
                <ul class="project-tech">
                    <li *ngFor="let tech of project.tech">{{tech}}</li>
                </ul>

                
                <div class="project-links">
                    <ng-container  *ngFor="let link of project.links">
                        <a *ngIf="link.name == 'Github' && link.url != ''" href="{{link.url}}" target="_blank" class="svg-icon github"></a>
                        <a *ngIf="link.name == 'Public' && link.url != ''" href="{{link.url}}" target="_blank" class="svg-icon link"></a>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
</div>
